In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
from sklearn import datasets

In [7]:
x=datasets.load_boston().data

In [8]:
x.shape

(506, 13)

In [9]:
y=datasets.load_boston().target

In [10]:
y.shape

(506,)

In [11]:
df=pd.DataFrame(x,columns=datasets.load_boston().feature_names)

In [12]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [13]:
df.insert(0,'price',y)

In [15]:
df.sample()

,price,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
205,22.6,0.13642,0.0,10.59,0.0,0.489,5.891,22.3,3.9454,4.0,277.0,18.6,396.9,10.87

## split the data

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=0)

In [19]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(404, 13) (102, 13) (404,) (102,)

## train model

In [21]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

### checking parameter

In [34]:
list(zip(df.columns[1:],lr.coef_))

[('CRIM', -0.11944344700245836),
 ('ZN', 0.04477995106651214),
 ('INDUS', 0.00548526168176946),
 ('CHAS', 2.340803606242054),
 ('NOX', -16.123604315429514),
 ('RM', 3.7087090122191495),
 ('AGE', -0.003121081780736579),
 ('DIS', -1.3863973702786783),
 ('RAD', 0.24417832698881295),
 ('TAX', -0.010989636563080092),
 ('PTRATIO', -1.0459211887459732),
 ('B', 0.008110106932704478),
 ('LSTAT', -0.4927927245047089)]

In [37]:
for i ,coef in list(zip(df.columns[1:],lr.coef_)):
    print('the {0} coeffient is : {1:.4f} '.format(i,coef))

the CRIM coeffient is : -0.1194
the ZN coeffient is : 0.0448
the INDUS coeffient is : 0.0055
the CHAS coeffient is : 2.3408
the NOX coeffient is : -16.1236
the RM coeffient is : 3.7087
the AGE coeffient is : -0.0031
the DIS coeffient is : -1.3864
the RAD coeffient is : 0.2442
the TAX coeffient is : -0.0110
the PTRATIO coeffient is : -1.0459
the B coeffient is : 0.0081
the LSTAT coeffient is : -0.4928

## prediction

In [39]:
y_hat=lr.predict(x_test)

In [50]:
np.concatenate((y_test.reshape(-1,1),y_hat.reshape(-1,1)),1)

array([[22.6       , 24.88963777],
       [50.        , 23.72141085],
       [23.        , 29.36499868],
       [ 8.3       , 12.12238621],
       [21.2       , 21.44382254],
       [19.9       , 19.2834443 ],
       [20.6       , 20.49647539],
       [18.7       , 21.36099298],
       [16.1       , 18.8967118 ],
       [18.6       , 19.9280658 ],
       [ 8.8       ,  5.12703513],
       [17.2       , 16.3867396 ],
       [14.9       , 17.07776485],
       [10.5       ,  5.59375659],
       [50.        , 39.99636726],
       [29.        , 32.49654668],
       [23.        , 22.45798809],
       [33.3       , 36.85192327],
       [29.4       , 30.86401089],
       [21.        , 23.15140009],
       [23.8       , 24.77495789],
       [19.1       , 24.67187756],
       [20.4       , 20.59543752],
       [29.1       , 30.35369168],
       [19.3       , 22.41940736],
       [23.1       , 10.23266565],
       [19.6       , 17.64816865],
       [19.4       , 18.27419652],
       [38.7       , 35.53362541],
       [18.7       , 20.96084724],
       [14.6       , 18.30413012],
       [20.        , 17.79262072],
       [20.5       , 19.96561663],
       [20.1       , 24.06127231],
       [23.6       , 29.10204874],
       [16.8       , 19.27774123],
       [ 5.6       , 11.15536648],
       [50.        , 24.57560579],
       [14.5       , 17.5862644 ],
       [13.3       , 15.49454112],
       [23.9       , 26.20577527],
       [20.        , 20.86304693],
       [19.8       , 22.31460516],
       [13.8       , 15.60710156],
       [16.5       , 23.00363104],
       [21.6       , 25.17247952],
       [20.3       , 20.11459464],
       [17.        , 22.90256276],
       [11.8       , 10.0380507 ],
       [27.5       , 24.28515123],
       [15.6       , 20.94127711],
       [23.1       , 17.35258791],
       [24.3       , 24.52235405],
       [42.8       , 29.95143046],
       [15.6       , 13.42695877],
       [21.7       , 21.72673066],
       [17.1       , 20.7897053 ],
       [17.2       , 15.49668805],
       [15.        , 13.98982601],
       [21.7       , 22.18377874],
       [18.6       , 17.73047814],
       [21.        , 21.58869165],
       [33.1       , 32.90522136],
       [31.5       , 31.11235671],
       [20.1       , 17.73252635],
       [29.8       , 32.76358681],
       [15.2       , 18.7124637 ],
       [15.        , 19.78693475],
       [27.5       , 19.02958927],
       [22.6       , 22.89825374],
       [20.        , 22.96041622],
       [21.4       , 24.02555703],
       [23.5       , 30.72859326],
       [31.2       , 28.83142691],
       [23.7       , 25.89957059],
       [ 7.4       ,  5.23251817],
       [48.3       , 36.72183202],
       [24.4       , 23.77267249],
       [22.6       , 27.26856352],
       [18.3       , 19.29492159],
       [23.3       , 28.62304496],
       [17.1       , 19.17978838],
       [27.9       , 18.97185995],
       [44.8       , 37.82397662],
       [50.        , 39.22012647],
       [23.        , 23.71261106],
       [21.4       , 24.93076217],
       [10.2       , 15.88545417],
       [23.3       , 26.09845751],
       [23.2       , 16.68819641],
       [18.9       , 15.83515991],
       [13.4       , 13.10775597],
       [21.9       , 24.71583588],
       [24.8       , 31.25165267],
       [11.9       , 22.16640989],
       [24.3       , 20.25087212],
       [13.8       ,  0.59025319],
       [24.7       , 25.44217132],
       [14.1       , 15.57178328],
       [18.7       , 17.93719475],
       [28.1       , 25.30588844],
       [19.8       , 22.3732326 ]])

## model performance

In [52]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [53]:
print("R^2 score : ",r2_score(y_test,y_hat))

R^2 score :  0.5892223849182507

```
the performance not so good i think the model is'nt good enogh
 1 indicates a perfect fit, where all the variance in the dependent variable is explained by the independent variable(s), while an R2 score of 0 indicates that the model does not explain any of the variance in the dependent variable.
```

In [54]:
print("mean absolute error : ",mean_absolute_error(y_test,y_hat))

mean absolute error :  3.842909220444498

In [55]:
print("mean squared error : ",mean_squared_error(y_test,y_hat))

mean squared error :  33.44897999767653